/* RESET BASICO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /*Como poner fondo en html con css*/
    background-image: url("../imagenes/fondo_pantalla.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    /*background: #739fa3;*/
    color: #f2f4f5;

}

/*Encabezado*/
header {
    background: #d0dad5;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
}

header h1{
    margin-bottom: 10px;
    font-size: 2.5rem;
}

nav{
    background-color: beige;
    box-shadow: 0 2px 5px rgba(1, 1, 1, 0.1);
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10px 0;
    gap: 30px;
}

nav li{
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    transition: background 0.3s ease;
}

nav a:hover {
    background: #937094;
}

main {
    padding: 40px 20px;
    max-width: 100%;
    margin: auto;
}

/*Secciones*/
section {
    background: #595c5d;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

/*Subtitulo*/
section h2{
    color:aliceblue;
    margin-bottom: 15px;
}

/*Pie de pagina*/
footer{
    background: #6f92ad;
    color: bisque;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9rem;
    margin-top: 40px;
}

form{
    border: 2px solid;
    border-radius: 20px;
    box-shadow: #60859f;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 12px 12px 2px 1px rgba(142, 180, 188, 0.5);
}

.NombreApellido input{
    width: 130px;
    height: 25px;
    margin-left: 20px;

}

.Edad{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    background-color: #60859f;
}

.Edad input{
    width: 130px;
    height: 25px;
    margin-left: 10px;
}

.Etiquetas {
    display: flex;
    flex-direction: column;
    background-color: #6089a8;
    gap: 5px;
}

.InputPreferencias {
  display:flex;
  flex-direction: column;
  background-color: #60859f;
  gap: 16px;
}

.Preferencias{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: #60859f;
}

label{
    width: 150px;
    font-weight: bold;
    margin-top: 5px;
}

input{
    width: 200px;
    height: 25px;
}

/*Responsive para moviles*/
@media (max-widht: (768px)) {
    nav ul {
        flex-direction: column;
        gap: 15px;
    }

    header h1 {
        font-size: 2rem;
    }

    section {
        padding: 20px;
    }
}
